In [8]:
# Import SQL Alchemy and check to inspect my tables in this sqlite db.
import sqlalchemy
from sqlalchemy import create_engine, inspect
from sqlalchemy.engine import reflection

In [9]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import os
dbfile = os.path.join('db', 'belly_button_biodiversity.sqlite')
print(dbfile)

db/belly_button_biodiversity.sqlite

In [10]:
engine = create_engine(f"sqlite:///{dbfile}")
print(engine)

Engine(sqlite:///db/belly_button_biodiversity.sqlite)

## Database Exploration

In [11]:
# To get the table names in the database to inspect
inspector = inspect(engine)
inspector.get_table_names()

['otu', 'samples', 'samples_metadata']

In [12]:
engine.execute('SELECT * FROM otu LIMIT 9').fetchall()

[(1, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus'),
 (2, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus'),
 (3, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Natronorubrum'),
 (4, 'Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter'),
 (5, 'Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter'),
 (6, 'Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter'),
 (7, 'Bacteria'),
 (8, 'Bacteria'),
 (9, 'Bacteria')]

In [13]:
engine.execute('SELECT * FROM samples LIMIT 3').fetchall()

[(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)]

In [14]:
engine.execute('SELECT * FROM samples_metadata LIMIT 5').fetchall()

[(940, 'BellyButtonsScienceOnline', 'Caucasian', 'F', 24, 2, 'I', 'Beaufort/NC', 'usa', 22306, 'usa', 22306, 'no', 'no', 8852, 37.17222214, 54.5, 0.0, 1, 0.0, 33.99000168, 25.5),
 (941, '0', 'Caucasian/Midleastern', 'F', 34, 1, 'I', 'Chicago/IL', '0', 0, '0', 0, '0', '0', 0, 0.0, 0.0, 0.0, 0, 0.0, 0.0, 0.0),
 (943, 'BellyButtonsScienceOnline', 'Caucasian', 'F', 49, 1, 'I', 'Omaha/NE', '0', 0, '0', 0, '0', '0', 0, 0.0, 0.0, 0.0, 0, 0.0, 0.0, 0.0),
 (944, 'BellyButtonsScienceOnline', 'European', 'M', 44, 1, 'I', 'NewHaven/CT', 'usa', 7079, 'usa', 8822, 'no', 'yes', 0, 35.81666565, 16.0, 0.0, 0, 6567.0, 32.40333176, 28.5),
 (945, 'BellyButtonsScienceOnline', 'Caucasian', 'F', 48, 1, 'I', 'Philidelphia/PA', 'usa', 84404, 'usa', 96025, 'no', 'no', 0, 37.78333282, 4.0, 0.0, 0, 5613.0, 33.63444519, 24.0)]

In [15]:
columns = inspector.get_columns('otu')
for c in columns:
    print(c['name'], c["type"])

otu_id INTEGER
lowest_taxonomic_unit_found TEXT

In [19]:
columns = inspector.get_columns('samples')
 
for c in columns:
    print(c['name'], c["type"] )

len(columns)

otu_id INTEGER
BB_940 INTEGER
BB_941 INTEGER
BB_943 INTEGER
BB_944 INTEGER
BB_945 INTEGER
BB_946 INTEGER
BB_947 INTEGER
BB_948 INTEGER
BB_949 INTEGER
BB_950 INTEGER
BB_952 INTEGER
BB_953 INTEGER
BB_954 INTEGER
BB_955 INTEGER
BB_956 INTEGER
BB_958 INTEGER
BB_959 INTEGER
BB_960 INTEGER
BB_961 INTEGER
BB_962 INTEGER
BB_963 INTEGER
BB_964 INTEGER
BB_966 INTEGER
BB_967 INTEGER
BB_968 INTEGER
BB_969 INTEGER
BB_970 INTEGER
BB_971 INTEGER
BB_972 INTEGER
BB_973 INTEGER
BB_974 INTEGER
BB_975 INTEGER
BB_978 INTEGER
BB_1233 INTEGER
BB_1234 INTEGER
BB_1235 INTEGER
BB_1236 INTEGER
BB_1237 INTEGER
BB_1238 INTEGER
BB_1242 INTEGER
BB_1243 INTEGER
BB_1246 INTEGER
BB_1253 INTEGER
BB_1254 INTEGER
BB_1258 INTEGER
BB_1259 INTEGER
BB_1260 INTEGER
BB_1264 INTEGER
BB_1265 INTEGER
BB_1273 INTEGER
BB_1275 INTEGER
BB_1276 INTEGER
BB_1277 INTEGER
BB_1278 INTEGER
BB_1279 INTEGER
BB_1280 INTEGER
BB_1281 INTEGER
BB_1282 INTEGER
BB_1283 INTEGER
BB_1284 INTEGER
BB_1285 INTEGER
BB_1286 INTEGER
BB_1287 INTEGER
BB_1288 INTEGER
BB_1289 INTEGER
BB_1290 INTEGER
BB_1291 INTEGER
BB_1292 INTEGER
BB_1293 INTEGER
BB_1294 INTEGER
BB_1295 INTEGER
BB_1296 INTEGER
BB_1297 INTEGER
BB_1298 INTEGER
BB_1308 INTEGER
BB_1309 INTEGER
BB_1310 INTEGER
BB_1374 INTEGER
BB_1415 INTEGER
BB_1439 INTEGER
BB_1441 INTEGER
BB_1443 INTEGER
BB_1486 INTEGER
BB_1487 INTEGER
BB_1489 INTEGER
BB_1490 INTEGER
BB_1491 INTEGER
BB_1494 INTEGER
BB_1495 INTEGER
BB_1497 INTEGER
BB_1499 INTEGER
BB_1500 INTEGER
BB_1501 INTEGER
BB_1502 INTEGER
BB_1503 INTEGER
BB_1504 INTEGER
BB_1505 INTEGER
BB_1506 INTEGER
BB_1507 INTEGER
BB_1508 INTEGER
BB_1510 INTEGER
BB_1511 INTEGER
BB_1512 INTEGER
BB_1513 INTEGER
BB_1514 INTEGER
BB_1515 INTEGER
BB_1516 INTEGER
BB_1517 INTEGER
BB_1518 INTEGER
BB_1519 INTEGER
BB_1521 INTEGER
BB_1524 INTEGER
BB_1526 INTEGER
BB_1527 INTEGER
BB_1530 INTEGER
BB_1531 INTEGER
BB_1532 INTEGER
BB_1533 INTEGER
BB_1534 INTEGER
BB_1535 INTEGER
BB_1536 INTEGER
BB_1537 INTEGER
BB_1539 INTEGER
BB_1540 INTEGER
BB_1541 INTEGER
BB_1542 INTEGER
BB_1543 INTEGER
BB_1544 INTEGER
BB_1545 INTEGER
BB_1546 INTEGER
BB_1547 INTEGER
BB_1548 INTEGER
BB_1549 INTEGER
BB_1550 INTEGER
BB_1551 INTEGER
BB_1552 INTEGER
BB_1553 INTEGER
BB_1554 INTEGER
BB_1555 INTEGER
BB_1556 INTEGER
BB_1557 INTEGER
BB_1558 INTEGER
BB_1561 INTEGER
BB_1562 INTEGER
BB_1563 INTEGER
BB_1564 INTEGER
BB_1572 INTEGER
BB_1573 INTEGER
BB_1574 INTEGER
BB_1576 INTEGER
BB_1577 INTEGER
BB_1581 INTEGER
BB_1601 INTEGER

154

In [4]:
list = [1,2,3]

In [11]:
[element**2 for element in list]

[1, 4, 9]

In [12]:
columns = inspector.get_columns('samples')

column_names = [c['name'] for c in columns][1:]
column_names

['BB_940',
 'BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']

In [13]:
columns = inspector.get_columns('samples_metadata')
for c in columns:
    print(c['name'], c["type"])

SAMPLEID INTEGER
EVENT TEXT
ETHNICITY TEXT
GENDER TEXT
AGE INTEGER
WFREQ INTEGER
BBTYPE TEXT
LOCATION TEXT
COUNTRY012 TEXT
ZIP012 INTEGER
COUNTRY1319 TEXT
ZIP1319 INTEGER
DOG TEXT
CAT TEXT
IMPSURFACE013 INTEGER
NPP013 FLOAT
MMAXTEMP013 FLOAT
PFC013 FLOAT
IMPSURFACE1319 INTEGER
NPP1319 FLOAT
MMAXTEMP1319 FLOAT
PFC1319 FLOAT

In [14]:
# Create a session
session = Session(engine)
print(session)

<sqlalchemy.orm.session.Session object at 0x10dad4320>

## Reflect database

In [29]:
# Reflect Database into ORM class

# Object-relational mapping (ORM, mapping tool) in computer science is a 
# programming technique for converting data between incompatible type systems 
#using object-oriented programming languages. This creates, in effect, 
#a "virtual object database" that can be used from within the programming language.


Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

# Print all of the classes mapped to the Base
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [30]:
# Assign the measurement and station  classes to the variables called `Measurements` and 'Stations'
otu = Base.classes.otu
samples = Base.classes.samples
samples_metadata = Base.classes.samples_metadata

# Create a session
session = Session(engine)

In [31]:
# Display the row's columns and data in dictionary format

otu_data = session.query(otu).first()
otu_data.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x103599208>,
 'lowest_taxonomic_unit_found': 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus',
 'otu_id': 1}

In [32]:
samples_data = session.query(samples).first()
samples_data.__dict__

{'BB_1233': 0,
 'BB_1234': 0,
 'BB_1235': 0,
 'BB_1236': 0,
 'BB_1237': 0,
 'BB_1238': 0,
 'BB_1242': 0,
 'BB_1243': 0,
 'BB_1246': 0,
 'BB_1253': 0,
 'BB_1254': 0,
 'BB_1258': 0,
 'BB_1259': 0,
 'BB_1260': 0,
 'BB_1264': 0,
 'BB_1265': 0,
 'BB_1273': 0,
 'BB_1275': 0,
 'BB_1276': 0,
 'BB_1277': 0,
 'BB_1278': 0,
 'BB_1279': 0,
 'BB_1280': 0,
 'BB_1281': 0,
 'BB_1282': 0,
 'BB_1283': 0,
 'BB_1284': 0,
 'BB_1285': 0,
 'BB_1286': 0,
 'BB_1287': 0,
 'BB_1288': 0,
 'BB_1289': 0,
 'BB_1290': 0,
 'BB_1291': 0,
 'BB_1292': 0,
 'BB_1293': 0,
 'BB_1294': 0,
 'BB_1295': 0,
 'BB_1296': 0,
 'BB_1297': 0,
 'BB_1298': 0,
 'BB_1308': 0,
 'BB_1309': 0,
 'BB_1310': 0,
 'BB_1374': 0,
 'BB_1415': 0,
 'BB_1439': 0,
 'BB_1441': 0,
 'BB_1443': 0,
 'BB_1486': 0,
 'BB_1487': 0,
 'BB_1489': 0,
 'BB_1490': 0,
 'BB_1491': 0,
 'BB_1494': 0,
 'BB_1495': 0,
 'BB_1497': 0,
 'BB_1499': 0,
 'BB_1500': 0,
 'BB_1501': 0,
 'BB_1502': 0,
 'BB_1503': 0,
 'BB_1504': 0,
 'BB_1505': 0,
 'BB_1506': 0,
 'BB_1507': 0,
 'BB_1508': 0,
 'BB_1510': 0,
 'BB_1511': 0,
 'BB_1512': 0,
 'BB_1513': 0,
 'BB_1514': 0,
 'BB_1515': 0,
 'BB_1516': 0,
 'BB_1517': 0,
 'BB_1518': 0,
 'BB_1519': 0,
 'BB_1521': 0,
 'BB_1524': 0,
 'BB_1526': 0,
 'BB_1527': 0,
 'BB_1530': 0,
 'BB_1531': 0,
 'BB_1532': 0,
 'BB_1533': 0,
 'BB_1534': 0,
 'BB_1535': 0,
 'BB_1536': 0,
 'BB_1537': 0,
 'BB_1539': 0,
 'BB_1540': 0,
 'BB_1541': 0,
 'BB_1542': 0,
 'BB_1543': 0,
 'BB_1544': 0,
 'BB_1545': 0,
 'BB_1546': 0,
 'BB_1547': 0,
 'BB_1548': 0,
 'BB_1549': 0,
 'BB_1550': 0,
 'BB_1551': 0,
 'BB_1552': 0,
 'BB_1553': 0,
 'BB_1554': 0,
 'BB_1555': 0,
 'BB_1556': 0,
 'BB_1557': 0,
 'BB_1558': 0,
 'BB_1561': 0,
 'BB_1562': 0,
 'BB_1563': 0,
 'BB_1564': 0,
 'BB_1572': 0,
 'BB_1573': 0,
 'BB_1574': 0,
 'BB_1576': 0,
 'BB_1577': 0,
 'BB_1581': 0,
 'BB_1601': 0,
 'BB_940': 0,
 'BB_941': 0,
 'BB_943': 0,
 'BB_944': 0,
 'BB_945': 0,
 'BB_946': 0,
 'BB_947': 0,
 'BB_948': 0,
 'BB_949': 0,
 'BB_950': 0,
 'BB_952': 0,
 'BB_953': 0,
 'BB_954': 0,
 'BB_955': 0,
 'BB_956': 0,
 'BB_958': 0,
 'BB_959': 0,
 'BB_960': 0,
 'BB_961': 0,
 'BB_962': 0,
 'BB_963': 0,
 'BB_964': 0,
 'BB_966': 1,
 'BB_967': 0,
 'BB_968': 0,
 'BB_969': 0,
 'BB_970': 0,
 'BB_971': 0,
 'BB_972': 0,
 'BB_973': 0,
 'BB_974': 0,
 'BB_975': 0,
 'BB_978': 0,
 '_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1036c2908>,
 'otu_id': 1}

In [33]:
samples_data = session.query(samples).first()
print(samples_data)

<sqlalchemy.ext.automap.samples object at 0x1036c28d0>

In [20]:
samples_metadata_data = session.query(samples_metadata).first()
samples_metadata_data.__dict__    # all the attributes which are described in object are printed out "_dict_"

{'AGE': 24,
 'BBTYPE': 'I',
 'CAT': 'no',
 'COUNTRY012': 'usa',
 'COUNTRY1319': 'usa',
 'DOG': 'no',
 'ETHNICITY': 'Caucasian',
 'EVENT': 'BellyButtonsScienceOnline',
 'GENDER': 'F',
 'IMPSURFACE013': 8852,
 'IMPSURFACE1319': 1,
 'LOCATION': 'Beaufort/NC',
 'MMAXTEMP013': 54.5,
 'MMAXTEMP1319': 33.99000168,
 'NPP013': 37.17222214,
 'NPP1319': 0.0,
 'PFC013': 0.0,
 'PFC1319': 25.5,
 'SAMPLEID': 940,
 'WFREQ': 2,
 'ZIP012': 22306,
 'ZIP1319': 22306,
 '_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x10e251630>}

In [21]:
all_names = session.query(samples.BB_1572) 
print(all_names)

SELECT samples."BB_1572" AS "samples_BB_1572"
FROM samples

# Starting a new section with Simons suggestions

In [50]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy import MetaData

import pandas as pd
from flask import Flask, render_template, jsonify
from flask_sqlalchemy import SQLAlchemy

 
#conda install -c conda-forge flask-sqlalchemy

 


#################################################
# Flask Setup
#################################################
app = Flask(__name__)

#################################################
# Database Setup
#################################################

# The database URI
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///db/belly_button_biodiversity.sqlite"

db = SQLAlchemy(app)

engine = create_engine("sqlite:///db/belly_button_biodiversity.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)
Otu = Base.classes.otu
Sm = Base.classes.samples_metadata
Sa = Base.classes.samples

/Users/sunitharamakrishnan/anaconda3/envs/PythonData/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [51]:
# Create a session
session = Session(engine)
print(session)

<sqlalchemy.orm.session.Session object at 0x1067e25c0>

In [52]:
# Create a MetaData instance
metadata = MetaData()

# reflect db schema to MetaData
metadata.reflect(bind=engine)

In [53]:
#################################################
# Flask Routes
#################################################

@app.route("/")
def home():
    """Return the dashboard homepage."""
    return render_template("new.html")

In [54]:
from sqlalchemy import MetaData
# Create a MetaData instance
metadata = MetaData()

# reflect db schema to MetaData
metadata.reflect(bind=engine)

# List of names
sample_names = metadata.tables['samples'].columns.keys()
names = sample_names[1:len(sample_names)]
print(names)
type(names)

['BB_940', 'BB_941', 'BB_943', 'BB_944', 'BB_945', 'BB_946', 'BB_947', 'BB_948', 'BB_949', 'BB_950', 'BB_952', 'BB_953', 'BB_954', 'BB_955', 'BB_956', 'BB_958', 'BB_959', 'BB_960', 'BB_961', 'BB_962', 'BB_963', 'BB_964', 'BB_966', 'BB_967', 'BB_968', 'BB_969', 'BB_970', 'BB_971', 'BB_972', 'BB_973', 'BB_974', 'BB_975', 'BB_978', 'BB_1233', 'BB_1234', 'BB_1235', 'BB_1236', 'BB_1237', 'BB_1238', 'BB_1242', 'BB_1243', 'BB_1246', 'BB_1253', 'BB_1254', 'BB_1258', 'BB_1259', 'BB_1260', 'BB_1264', 'BB_1265', 'BB_1273', 'BB_1275', 'BB_1276', 'BB_1277', 'BB_1278', 'BB_1279', 'BB_1280', 'BB_1281', 'BB_1282', 'BB_1283', 'BB_1284', 'BB_1285', 'BB_1286', 'BB_1287', 'BB_1288', 'BB_1289', 'BB_1290', 'BB_1291', 'BB_1292', 'BB_1293', 'BB_1294', 'BB_1295', 'BB_1296', 'BB_1297', 'BB_1298', 'BB_1308', 'BB_1309', 'BB_1310', 'BB_1374', 'BB_1415', 'BB_1439', 'BB_1441', 'BB_1443', 'BB_1486', 'BB_1487', 'BB_1489', 'BB_1490', 'BB_1491', 'BB_1494', 'BB_1495', 'BB_1497', 'BB_1499', 'BB_1500', 'BB_1501', 'BB_1502', 'BB_1503', 'BB_1504', 'BB_1505', 'BB_1506', 'BB_1507', 'BB_1508', 'BB_1510', 'BB_1511', 'BB_1512', 'BB_1513', 'BB_1514', 'BB_1515', 'BB_1516', 'BB_1517', 'BB_1518', 'BB_1519', 'BB_1521', 'BB_1524', 'BB_1526', 'BB_1527', 'BB_1530', 'BB_1531', 'BB_1532', 'BB_1533', 'BB_1534', 'BB_1535', 'BB_1536', 'BB_1537', 'BB_1539', 'BB_1540', 'BB_1541', 'BB_1542', 'BB_1543', 'BB_1544', 'BB_1545', 'BB_1546', 'BB_1547', 'BB_1548', 'BB_1549', 'BB_1550', 'BB_1551', 'BB_1552', 'BB_1553', 'BB_1554', 'BB_1555', 'BB_1556', 'BB_1557', 'BB_1558', 'BB_1561', 'BB_1562', 'BB_1563', 'BB_1564', 'BB_1572', 'BB_1573', 'BB_1574', 'BB_1576', 'BB_1577', 'BB_1581', 'BB_1601']

list

In [55]:
df = pd.Series( (name[0:] for name in names) )
df

0       BB_940
1       BB_941
2       BB_943
3       BB_944
4       BB_945
5       BB_946
6       BB_947
7       BB_948
8       BB_949
9       BB_950
10      BB_952
11      BB_953
12      BB_954
13      BB_955
14      BB_956
15      BB_958
16      BB_959
17      BB_960
18      BB_961
19      BB_962
20      BB_963
21      BB_964
22      BB_966
23      BB_967
24      BB_968
25      BB_969
26      BB_970
27      BB_971
28      BB_972
29      BB_973
        ...
123    BB_1540
124    BB_1541
125    BB_1542
126    BB_1543
127    BB_1544
128    BB_1545
129    BB_1546
130    BB_1547
131    BB_1548
132    BB_1549
133    BB_1550
134    BB_1551
135    BB_1552
136    BB_1553
137    BB_1554
138    BB_1555
139    BB_1556
140    BB_1557
141    BB_1558
142    BB_1561
143    BB_1562
144    BB_1563
145    BB_1564
146    BB_1572
147    BB_1573
148    BB_1574
149    BB_1576
150    BB_1577
151    BB_1581
152    BB_1601
Length: 153, dtype: object

In [56]:
@app.route('/names')
def names():
    """List of sample names.

    Returns a list of sample names in the format
    [
        "BB_940",
        "BB_941",
        "BB_943",
        "BB_944",
        "BB_945",
        "BB_946",
        "BB_947",
        ...
    ]"""
 
 
    # List of names
    sample_names = metadata.tables['samples'].columns.keys()
    names = sample_names[1:len(sample_names)]
    #print(names)
    #df = pd.Series( (name[0:] for name in names) )
    #return (df)

In [57]:
@app.route('/otu')
def otu():
    """List of OTU descriptions.

    Returns a list of OTU descriptions in the following format

    [
        "Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus",
        "Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus",
        "Bacteria",
        "Bacteria",
        "Bacteria",
        ...
    ]"""
    
    results = db.session.query(OTU.otu_id, OTU.lowest_taxonomic_unit_found).\
        order_by(OTU.otu_id).all()
        #limit(10).all()
 
    otu_id = [row[0] for row in results]
    names = [row[1] for row in results]
 

    return jsonify({"names":names})

In [58]:
if __name__ == "__main__":
    app.run(debug=True)

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat

SystemExit: 1

/Users/sunitharamakrishnan/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2870: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [73]:
results = db.session.query(Sa.otu_id,Sa.BB_940, Sa.BB_941, Sa.BB_943).\
          filter((Sa.BB_940 > 0)).\
          order_by(Sa.otu_id).all()
print(results)

[(11, 1, 0, 0), (19, 1, 0, 0), (22, 1, 0, 0), (24, 1, 0, 0), (39, 1, 0, 0), (41, 71, 4, 0), (42, 1, 0, 0), (79, 1, 0, 0), (81, 1, 0, 0), (84, 1, 0, 0), (93, 1, 0, 0), (102, 1, 0, 0), (121, 2, 0, 0), (122, 1, 0, 0), (133, 1, 0, 0), (154, 1, 0, 0), (159, 2, 0, 0), (165, 12, 0, 0), (170, 2, 0, 0), (185, 1, 0, 0), (189, 47, 2, 0), (198, 1, 0, 0), (226, 1, 0, 0), (235, 1, 0, 0), (244, 1, 0, 0), (246, 1, 0, 0), (258, 2, 0, 0), (259, 2, 0, 0), (300, 1, 0, 0), (307, 7, 1, 0), (314, 1, 1, 0), (320, 1, 0, 0), (327, 1, 0, 0), (328, 1, 0, 0), (340, 2, 0, 0), (342, 2, 0, 0), (352, 50, 3, 0), (357, 2, 0, 0), (359, 1, 0, 0), (361, 1, 0, 0), (373, 1, 0, 0), (381, 1, 0, 0), (386, 1, 0, 0), (400, 1, 0, 0), (404, 1, 0, 0), (407, 1, 0, 0), (412, 2, 0, 0), (414, 1, 0, 0), (482, 113, 8, 0), (513, 2, 0, 0), (564, 1, 0, 0), (593, 1, 0, 0), (620, 1, 0, 0), (650, 1, 0, 0), (725, 2, 0, 0), (728, 1, 3, 0), (791, 1, 0, 0), (794, 1, 0, 0), (821, 1, 0, 0), (830, 10, 1, 0), (833, 3, 0, 0), (841, 1, 0, 0), (854, 1, 2, 0), (866, 1, 0, 0), (874, 36, 8, 0), (881, 1, 0, 0), (907, 3, 0, 0), (919, 1, 1, 0), (922, 1, 27, 1), (944, 19, 178, 0), (1094, 1, 0, 0), (1115, 1, 0, 0), (1155, 1, 0, 0), (1159, 1, 0, 0), (1167, 163, 24, 0), (1169, 2, 0, 0), (1174, 1, 0, 0), (1179, 1, 0, 0), (1189, 51, 0, 0), (1191, 1, 0, 0), (1193, 6, 0, 0), (1199, 1, 1, 0), (1208, 5, 0, 0), (1217, 1, 0, 0), (1223, 1, 0, 0), (1227, 1, 0, 0), (1232, 2, 0, 0), (1243, 1, 0, 0), (1254, 1, 0, 0), (1274, 4, 0, 0), (1314, 3, 28, 0), (1484, 1, 0, 0), (1495, 1, 0, 0), (1496, 1, 0, 0), (1497, 2, 0, 0), (1498, 2, 0, 0), (1501, 1, 0, 0), (1502, 1, 0, 0), (1503, 2, 0, 0), (1505, 2, 0, 0), (1515, 1, 0, 0), (1524, 1, 0, 0), (1576, 1, 0, 0), (1600, 1, 1, 0), (1795, 10, 40, 2), (1935, 1, 0, 0), (1944, 1, 0, 0), (1947, 1, 0, 0), (1950, 25, 0, 0), (1954, 1, 0, 0), (1959, 30, 3, 0), (1960, 2, 0, 0), (1962, 3, 0, 0), (1965, 1, 0, 0), (1968, 2, 0, 0), (1977, 40, 2, 0), (1984, 1, 0, 0), (1991, 1, 0, 0), (1997, 1, 0, 0), (2011, 11, 0, 0), (2024, 13, 0, 0), (2036, 1, 0, 0), (2039, 5, 0, 0), (2040, 1, 0, 0), (2051, 1, 0, 0), (2054, 1, 0, 0), (2062, 1, 0, 0), (2065, 2, 0, 0), (2068, 1, 0, 0), (2077, 23, 1, 0), (2080, 1, 0, 0), (2084, 1, 0, 0), (2093, 1, 0, 0), (2096, 1, 0, 0), (2110, 2, 0, 0), (2114, 1, 0, 0), (2115, 1, 0, 0), (2136, 1, 0, 0), (2165, 1, 0, 0), (2167, 5, 0, 0), (2178, 7, 0, 0), (2184, 19, 0, 0), (2186, 3, 0, 0), (2188, 2, 0, 0), (2191, 28, 0, 0), (2192, 1, 0, 0), (2197, 1, 0, 0), (2202, 1, 0, 0), (2212, 1, 0, 0), (2216, 1, 0, 0), (2217, 1, 0, 0), (2229, 1, 0, 0), (2235, 2, 0, 0), (2244, 14, 0, 0), (2247, 11, 0, 0), (2256, 1, 0, 0), (2263, 1, 0, 0), (2264, 78, 4, 0), (2268, 1, 0, 0), (2275, 22, 1, 0), (2291, 2, 0, 0), (2318, 40, 1, 0), (2334, 1, 0, 0), (2335, 3, 0, 0), (2342, 2, 0, 0), (2350, 2, 0, 0), (2396, 11, 0, 0), (2413, 1, 0, 0), (2419, 13, 162, 0), (2423, 1, 0, 0), (2473, 1, 0, 0), (2475, 2, 0, 0), (2483, 2, 0, 0), (2491, 2, 0, 0), (2508, 1, 0, 0), (2539, 1, 92, 0), (2542, 1, 0, 0), (2546, 2, 0, 0), (2549, 1, 0, 0), (2571, 2, 0, 0), (2603, 1, 0, 0), (2633, 1, 0, 0), (2722, 8, 194, 0), (2737, 4, 0, 0), (2739, 4, 0, 0), (2750, 1, 0, 0), (2752, 1, 0, 0), (2753, 1, 0, 0), (2758, 1, 0, 0), (2782, 12, 3, 0), (2795, 1, 0, 0), (2811, 13, 0, 0), (2820, 1, 0, 0), (2829, 1, 0, 0), (2837, 1, 0, 0), (2840, 1, 0, 0), (2852, 1, 0, 0), (2859, 126, 21, 0), (2873, 1, 0, 0), (2876, 1, 0, 0), (2908, 7, 5, 0), (2915, 1, 0, 0), (2917, 1, 0, 0), (2936, 3, 0, 0), (2949, 1, 0, 0), (2964, 10, 13, 0), (2968, 1, 0, 0), (2985, 1, 0, 0), (2989, 1, 0, 0), (2994, 1, 0, 0), (3427, 1, 0, 0), (3439, 1, 0, 0), (3450, 37, 84, 0), (3453, 1, 0, 0)]

In [74]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [120]:
# Create a reference the CSV belly_button samples table .csv
samples_csv_path = "DataSets/belly_button_biodiversity_samples.csv"

# Read the schools CSV into a Pandas DataFrame
belly_samples_df = pd.read_csv(samples_csv_path)
belly_samples_df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
otu_ids_df['otu_ids'] = samples_df

In [ ]:
schools_summary_df['average_reading'] = students_schools_df.groupby('school')["reading_score"].mean()

In [95]:
test = samples_df.sort_values(['otu_id', 'BB_940'], ascending=False)

test.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
3673,3674,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3672,3673,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3671,3672,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,138,0,0,0
3670,3671,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3669,3670,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
test = df.sort_values('one', ascending=False)

In [ ]:
@app.route("/samples/<sample>")
def OTU_ID_and_Sample(sample):
    """OTU IDs and Sample Values for a given sample."""

    sample_df = biodiversity_samples_df[(biodiversity_samples_df[sample] > 0.0)]
    sample_sort_df = sample_df.sort_values(by = sample, ascending=False)

    sample_data = [{
        "otu_ids": sample_sort_df[sample].index.values.tolist(),
        "sample_values": sample_sort_df[sample].values.tolist()
    }]
    sample_data_df = pd.DataFrame(sample_data)
    final_sample = sample_data_df.to_json(orient='records')
    return final_sample

In [107]:
sample_df = belly_samples_df[(belly_samples_df['BB_941'] > 0.0)]
sample_sort_df = sample_df.sort_values(by = 'BB_941', ascending=False)
sample_sort_df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
2721,2722,8.0,194,0,2,35,114,236,64.0,0,...,0,0,0,2,0,5,0,0,0,5
943,944,19.0,178,0,8,274,7,135,9.0,4,...,156,0,22,13,0,15,0,3,1,25
2418,2419,13.0,162,0,0,110,36,412,55.0,8,...,3,1,0,2,5,16,0,0,0,22
2538,2539,1.0,92,0,0,10,18,23,9.0,0,...,0,0,0,2,0,13,0,0,0,9
3449,3450,37.0,84,0,0,6,24,46,13.0,0,...,0,0,0,33,0,0,0,0,0,12

In [110]:
sample_data = [{
    "otu_ids": sample_sort_df['BB_941'].index.values.tolist(),
    "sample_values": sample_sort_df['BB_941'].values.tolist()
    }]

sample_data

[{'otu_ids': [2721,
   943,
   2418,
   2538,
   3449,
   1794,
   2388,
   1313,
   921,
   1166,
   2858,
   962,
   2963,
   2307,
   2650,
   481,
   873,
   2907,
   1869,
   2263,
   40,
   727,
   2781,
   351,
   1958,
   1187,
   1925,
   2460,
   2687,
   2703,
   188,
   2889,
   1928,
   3311,
   2499,
   1976,
   1309,
   295,
   853,
   938,
   709,
   1199,
   554,
   260,
   2675,
   2849,
   2686,
   2671,
   2665,
   640,
   561,
   2763,
   2681,
   307,
   313,
   729,
   306,
   2926,
   300,
   3035,
   3119,
   3133,
   3388,
   3445,
   3457,
   2659,
   2631,
   2649,
   2274,
   1671,
   1759,
   1212,
   1823,
   1201,
   1198,
   1941,
   1185,
   2076,
   2090,
   929,
   919,
   1599,
   2317,
   2339,
   918,
   2398,
   2403,
   2437,
   829,
   819,
   800,
   2550,
   2580,
   3460],
  'sample_values': [194,
   178,
   162,
   92,
   84,
   40,
   37,
   28,
   27,
   24,
   21,
   21,
   13,
   10,
   10,
   8,
   8,
   5,
   5,
   4,
   4,
   3,
   3,
   3,
   3,
   3,
   3,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1]}]

In [112]:
sample_data_df = pd.DataFrame(sample_data)
sample_data_df

,otu_ids,sample_values
0,"[2721, 943, 2418, 2538, 3449, 1794, 2388, 1313...","[194, 178, 162, 92, 84, 40, 37, 28, 27, 24, 21..."

In [113]:
final_sample = sample_data_df.to_json(orient='records')
final_sample

'[{"otu_ids":[2721,943,2418,2538,3449,1794,2388,1313,921,1166,2858,962,2963,2307,2650,481,873,2907,1869,2263,40,727,2781,351,1958,1187,1925,2460,2687,2703,188,2889,1928,3311,2499,1976,1309,295,853,938,709,1199,554,260,2675,2849,2686,2671,2665,640,561,2763,2681,307,313,729,306,2926,300,3035,3119,3133,3388,3445,3457,2659,2631,2649,2274,1671,1759,1212,1823,1201,1198,1941,1185,2076,2090,929,919,1599,2317,2339,918,2398,2403,2437,829,819,800,2550,2580,3460],"sample_values":[194,178,162,92,84,40,37,28,27,24,21,21,13,10,10,8,8,5,5,4,4,3,3,3,3,3,3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]}]'

In [122]:
sample_names = metadata.tables['samples'].columns.vals()
names = sample_names[1:len(sample_names)]

AttributeError: vals